h1{
    color: purple;
}

.grid-container {
    display: grid;
     grid-template-rows: 444px 296px;
    // grid-auto-rows: 60%;
    // grid-template-rows: 60vh 40vh;
    
    
    
    
  }

  .grid-item-1{
      position: relative;
    //   border: solid pink;
  }

  .grid-item-2{
    position: relative;
    // border: solid pink;
}









  .grid-one-ul{
    //   border: dotted black;
      width: fit-content;
      height: fit-content;
      position: absolute;
      left: 53%;
      top: 52%;
      transform: translate(-50%,-50%);
      list-style: none;
  }
  
  .grid-one-li:not(:last-child){
      padding-bottom: 30px;
  }



  .base{

    width: 294px;
    height: 69px;
    // border: dotted red;
    border-radius:16px ;

    position: relative;
  }

  .base-img{
      width: 86px;
      height: 86px;
     // background-color: powderblue;
      position: absolute;
      top: -10%;
      left: -10%;
  }

  .base-img-file{
    width: 86px;
    height: 86px;
   
}

.base-title{
    width: fit-content;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 21px;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);

    

    

}

.one{
    top: -32%;
    height: 95px;
}

.three{
    width: 93px;
    top: -16%;
    left: -12%;
}

.four{
   
    top: -13%;
    left: -9%;
    
}



  #lb{
      border: 3px solid #0D47A1;
      background-color: #64B5F6;
  }

  #gr{
    border: 3px solid #004D40;
    background-color: #4DB6AC;
}

#pk{
    border: 3px solid#C51162;
    background-color: #F86398;
}

#db{
    border: 3px solid#006064;
    background-color: #00BCD4;
}

// -----------------------------

.box{
    width: 321px;
    height: 242px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.box-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    // text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin: 10px;
}